h1 {border-width: 20pt; border-style: none; border-color: blueviolet;}
h1 {background-color: blueviolet;}
a {text-decoration: underline;}
ul {font-family: Arial, Helvetica, sans-serif;}

a {color:brown}
body {background-color: gray; color: blue;}
h6 {color :beige;text-align: center;}